<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Search Form</h1>
    <form action="#" th:action="@{/searchBook}" method="get">
    	<p>Título: <input type="text" th:name="texto" /></p>
        <p><input type="submit" value="Buscar" /> <input type="reset" value="Reset" /></p>
    </form>
    
    <table>
      <tr>
        <th>Título</th>
        <th>Autor</th>
      </tr>
      <tr th:each="book : ${libros}">
        <td th:text="${book.title}">titulo</td>
        <td th:text="${book.author}">autor</td>
      </tr>
    </table>
</body>
</html>